body {
    margin: 0;
    padding: 0;
}

.form {
    width: 1200px;
    height: 900px;
    margin: 5rem;
    padding: 1rem;
    background-color: #583167;
    border-radius: 30px;
}

.form-content, .form-1, .form-2{
    width: 1200px;
    height: 900px;
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 24rem;
}

.form-1, .form-1-content{
    width: 600px;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}

.subtitle-1 {
    color: white;
    transform: translate(5%, 0%);
}

.subtitle-2 {
    color: white;
    transform: translate(5%, 0%);
}

.subtitle-3 {
    color: white;
    transform: translate(5%, 0%);
}

.subtitle-4 {
    color: white;
    transform: translate(5%, 0%);
}

.subtitle-5 {
    color: white;
    transform: translate(5%, 0%);
}

.name {
    width: 474px;
    height: 30px;
    border-radius: 8px;
}

.credit-card {
    width: 130px;
    height: 80px;
    border-radius: 20px;
    background-color: #8C5AA1;
    color: white;
}

.bank-transfer {
    width: 130px;
    height: 80px;
    border-radius: 20px;
    background-color: #8C5AA1;
    color: white;
}

.points {
    width: 130px;
    height: 80px;
    border-radius: 20px;
    background-color: #8C5AA1;
    color: white;
}

.material-symbols-outlined {
    width: 20px;
    height: 20px;
    transform: translate(-20%, 24%);
}

.email {
    width: 420px;
    height: 30px;
    border-radius: 8px;
}

.country {
    width: 420px;
    height: 36px;
    border-radius: 8px;
}

.postal-code {
    width: 320px;
    height: 26px;
    border-radius: 8px;
}

.cancel {
   width: 100px;
   height: 44px;
   transform: translate(-300%, 194%);
   border-radius: 70px;
   background-color: red;
   color: white;
}

.subscribe {
    width: 270px;
    height: 44px;
    transform: translate(72%, 110%);
    border-radius: 70px;
    background-color: #540987;
    color: white;
}

.form-2, .form-2-content {
    width: 590px;
    height: 860px;
    transform: translate(14%, -13%);
    border-radius: 30px;

}

.form-2-content {
    background-color: #8C5AA1;
}

.subtitle-6 {
    color: white;
    transform: translate(5%, 0%);
}

.pay-1 {
    width: 220px;
    height: 45px;
    transform: translate(15%, 10%);
    font-weight: bold;
    color: white;
    background-color: #583167;
    border-radius: 8px;
}

.pay-2 {
    width: 220px;
    height: 45px;
    transform: translate(-85%, 180%);
    font-weight: bold;
    color: white;
    background-color: #583167;
    border-radius: 8px;
}

.total {
    color: white;
    transform: translate(5%, 624%);
}

.total-precio {
    color: white;
    transform: translate(74%, 474%);
}

.subtitle-7 {
    color: white;
    transform: translate(5%, 394%);
}

.dibujo {
    width: 500px;
    height: 300px;
    transform: translate(9%, 40%);

}